[Unit]
Description=TrustLab SSH Brute Force Detection & APT Correlation System
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=%INSTALLATION_PATH%
ExecStart=/usr/bin/python3 %INSTALLATION_PATH%/main.py --monitor
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
