[Unit]
Description=TrustLab SSH Brute Force Detection & APT Correlation System
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/primum/TrustLab/BruteforceAnomaly
ExecStart=/usr/bin/python3 /home/primum/TrustLab/BruteforceAnomaly/main.py --monitor
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
